body {
  background-color: rgb(160, 229, 206);
}

#questions {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#color-div {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
